<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Toppage</title>
    <link rel='stylesheet' href='/css/style.css' />
    <!-- Library Code -->
  </head>
  <body>
    <h1>Toppage</h1>
    <a href="/step1/">step1へ</a>
  </body>
  <script type="text/javascript">
    <!-- Event Code -->
  </script>
</html>
