<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %>の遷移をみてみる</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/js/mixpanel.js"></script>
  </head>
  <body>
    <h1><%= title %>の遷移をみてみる</h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
